/**
 * Small Screens
 * width < 600
 */
@media (max-width: 499px) {
  .page {
    .content {

    }
  }
}

/**
 * Extra Small Screens
 * width < 350px
 */
@media (max-width: 399px) {
  .page {
    .content {
      .title {
        .hi {
          display: none;
        }
        .name {
          font-size: 11vw;
        }
        .brief {
          text-align: center;
          font-size: 7vw;
        }
      }
    }
  }
}
