node_modules/
npm-debug.log

public/
bundle.js
src/bundle.js
google*.html

node_modules
.cache
dist
yarn.lock
debug.log
prod
dev

.parcel-cache
*.cjs
*.mjs
.yarn
.yarnrc.yml
package-lock.json

src/*.css