    
.icon {
  display: block;
  width: 26px;
  height: 40px;
  
  background-size: contain;
  background-repeat: no-repeat;
  
  opacity: 0.75;
  
  &.github {
    background-image: url('img/github-light-32px.png');
    background-position-y: 8px;   
  }
  &.linkedin {
    background-image: url('img/linkedin-white-34px.png');
    background-position-y: 10px;  
  }
  &.twitter {
    background-image: url('img/twitter-white.png');
    background-position-y: 10px;  
  }
  &.instagram {
    background-image: url('img/instagram-dark.png');
    background-position-y: 8px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  
  &.github-large {
    background-image: url('img/github-light-120px.png');
    background-position-y: 0px;
    width: 120px;
    height: 120px;   
  }
  
  &:hover { // Link-Hover
    opacity: 1.0;
  }
}
