/**
 * Large Screens
 * witdh >= 900px
 */
@media (min-width: 900px) {
  .page {
    .header {
      justify-content: space-between;
      margin-bottom: 20px;
      padding-top: 20px;
      width: calc(100% - 40px);
      
      .title {
        order: 0;
        width: 40%;
        text-align: left;
        display: flex;
        
        .me-image {
          position: relative;
          display: inline-block;
          width: 50px;
          padding-left: 15px;
          top: 1px;
        }
        
        .text {
          display: inline-block;
          padding-left: 0px;
        }
      }
      
      .navigation {
        order: 1;
        flex-grow: 1;
        margin-top: 15px;
        width: 30%;
        justify-content: flex-end;
        a {
          margin: 0px 20px;
        }
      }
      .social-media {
        order: 2;
        flex-grow: 0;
        width: 150px;
        margin: auto 0px auto 20px;
        justify-content: space-between;
        a {
          margin-right: 20px;
        }
      }
    }

    .content {
      width: 100%;
      max-width: 800px;
      margin-left: auto;
      margin-right: 0px;
      right: 0px;

      .welcome {
        margin-left: 0px;
        margin-right: 0px;
      }
      
      .project-list {
        justify-content: space-between;

        .tile {
          width: calc(33.3% - 8px);
          max-width: 280px;

          a {
            margin-right: 0px;    
            margin-left: 0px;
          }
        }
      }

      .about {
        width: initial;
      }
    }
  }
}
