$border-color: rgba(255, 255, 255, 0.45);
$general-text-color: rgba(255, 255, 255, 0.75);
$general-text-color-hover: rgba(255, 255, 255, 1.0);
$highlight-text-color: rgba(255, 255, 255, 0.95);
$content-bg-color: rgba(0, 0, 0, 0.45);
$font-size-standard: 15px;
$font-size-large: 18px;

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

a,
a:active,
a:visited,
a:focus {
  cursor: pointer;
  text-decoration: none;
  color: $general-text-color;
}

a:hover {
  color: $general-text-color-hover;
  text-decoration: none;
}

.page {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: $font-size-standard;
  color: $general-text-color;
  text-align: center;

  @import "icons";
  .page-inner-box {
    // wrapper around header and content
    // defines with of entire content area
    width: 100%;
    margin: auto;
    position: relative;
  }

  .content {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 500px;
    padding: 3vw;

    .title {
      font-weight: 300;
      display: inline-block;
      margin: auto;

      span {
        display: block;
      }

      .hi {
        text-align: left;
        font-size: 19px;
        line-height: 16px;
        padding: 0px 2px;
      }
      .name {
        font-size: 40px;
        line-height: 38px;
        font-weight: 500;
      }

      .brief {
        text-align: right;
        padding: 0px 2px;
        font-size: 19px;
      }
    }


    .social-media {
      display: flex;
      justify-content: space-around;
      a {
        display: inline-block;
        margin: 0px 0px;
      }
    }

    .github-link {
      text-align: center;
      display: block;
      width: 120px;
      margin: 50px auto 50px auto;
    }

    .text-box {
      text-align: left;
    }
  }

} // .page

.projects {
  text-align: left;
  margin-top: 20px;

  > h1 {
    font-size: 20px;
    margin-top: 15px;
  }
  
  > h2 {
    font-size: 15px;
  }

  > .dash {
    margin-bottom: 10px;
  }

  .project-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      display: block;
      margin: 10px 0 0;
      background-color: $content-bg-color;
      border: 1px solid $border-color;
      padding: 6px 0 10px;
      flex-grow: 1;
      width: 100%;

      &:hover {
        background-color: lighten($content-bg-color, 15%);
        border-color: lighten($border-color, 15%);
      }

      h1 {
        font-size: 24px;
        color: $general-text-color;
      }

      h2 {
        font-size: 15px;
        color: darken($general-text-color, 20%);
      }
    }

  }
} // .projects

.website-code {
  margin-top: 20px;
}



// Disable all special styling of h-tags
// We basically use them as divs with importance index
h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0px;
  line-height: normal;
  font-weight: 300;
}

p {
  margin: 0px;
}

.background {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;

  background-image: url('img/website_bg1_web.jpg');
  background-position: right bottom;
  background-size: cover;
}

.dash {
  width: 100%;
  height: 1px;
  margin: 0px auto;
  border-bottom: 1px solid $border-color;
} // .dash