@import 'base';
$text-color: rgb(200, 200, 200);
$hover-text-color: white;

html,
body,
div#root {
  @include full-page;
  margin: 0;
  padding: 0;

  font-family: 'Raleway';
  color: $text-color;
  font-weight: 300;
  height: 100%;
}

div, a {
  margin: 0px auto;
  padding: 0px;
}

a {
  text-decoration: none;
  color: $text-color;
  font-weight: 300;
}

h1, h2, h3, a, p {
  display: block;
  margin: auto;
  padding: auto;
  font-weight: inherit;
}

body {
  scrollbar-width: none;
  background: #222;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

$large-w: 450px;
$small-w: 390px;

$tiny: "screen and (max-width: #{$small-w})";
$small: "screen and (min-width: #{$small-w}) and (max-width: #{$large-w})";
$large: "screen and (min-width: #{$large-w})";

$content-width-tiny: 300px;
$content-width-small: 360px;
$content-width-large: 400px;
$content-height-large: 180px;
$content-height-small: 170px;
$content-height-tiny: 150px;

#index {
  height: 100%;

  #main {
    height: 100vh;
    text-align: center;
  }
}

#vert-center-container {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  #vert-centered {
    position: relative;
    background: url('assets/images/city-of-london-1920.jpg');
    // border-top: 5px black solid;
    // border-bottom: 5px black solid;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    min-height: calc(#{$content-height-large} + 20px);

    @media screen and (max-height: 400px) {
      $black-border-height: 50px;
      height: calc(100% - 2 * #{$black-border-height});
      top: $black-border-height;
    }
    @media screen and (min-height: 400px) and (max-height: 650px) {
      $black-border-height: 75px;
      height: calc(100% - 2 * #{$black-border-height});
      top: $black-border-height;
    }
    @media screen and (min-height: 650px) {
      $black-border-height: 100px;
      height: calc(100% - 2 * #{$black-border-height});
      top: $black-border-height;
    }

    #content {
      position: relative;

      top: 48%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      @media #{$large} {
        width: $content-width-large;
        height: $content-height-large;
      }
      @media #{$small} {
        width: $content-width-small;
        height: $content-height-small;
      }
      @media screen and (max-width: $small-w){
        width: $content-width-tiny;
        height: $content-height-tiny;
      }

      > div {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.7);

        > div {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


#brand {
  transform: translateZ(0px);
  transition: 1s;

  #name {
    display: block;
    padding: 15px 5px 20px 5px;

    @media #{$large} {
      padding-bottom: 20px;

      h1 {
        font-size: 40px;
      }
      h2 {
        font-size: 20px;
      }
    }

    @media #{$small} {
      padding-bottom: 15px;

      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 18px;
      }
    }
    @media #{$tiny} {
      padding-bottom: 10px;

      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 16px;
      }
    }
  }

}

#icons {
  text-align: center;

  a.icon {
    margin: auto;
    display: inline-block;
    width: 26px;
    height: 40px;
    margin: 0px 30px;

    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0.75;

    &.github {
      background-image: url('assets/images/github-light-64px.png');
      background-position-y: 8px;
      width: 40px;
      height: 52px;
    }
    &.linkedin {
      background-image: url('assets/images/linkedin-white-34px.png');
      background-position-y: 11px;

      width: 30px;
      height: 42px;
    }
    &.instagram {
      background-image: url('assets/images/instagram-dark.png');
      background-position-y: 8px;
      filter: invert(100%) brightness(150%);
      -webkit-filter: invert(100%) brightness(150%);
    }

    &.github-large {
      background-image: url('assets/images/github-light-120px.png');
      background-position-y: 0px;
      width: 120px;
      height: 120px;
    }

    &:hover {
      opacity: 1.0;
    }
  }
}
